body {
  background-image: url("./../assets/images/raining-money.jpg");
  background-repeat: repeat-x;
  font-family: Arial, Helvetica, sans-serif
}
.container {
  margin: auto;
  width: 70%;
  padding-top: 2%;
  font-size: 150%;
}

.card {
  padding:2%;
  box-shadow: 8px 8px 9px gray;
}

#results {
  display: none;
  font-size: 150%;
}

#start-money {
  font-weight: bolder;
  color: darkgreen;
}

#end-money {
  font-weight: bolder;
  color: green;
  /* text-shadow: 2px 2px 2px grey; */
}

#amount #target {
  margin-left: 5%;
}