body {
  background-image: url("./../assets/images/raining-money.jpg");
  background-repeat: repeat-x;
}
.container {
  margin: auto;
  width: 70%;
  padding-top: 2%;
}

.card {
  padding:1%;
}

#results {
  display: none;
  font-size: 200%;
}

#start-money {
  font-weight: bolder;
  color: darkgreen;
}

#end-money {
  font-weight: bolder;
  color: green;
}